 /* Light/Dark Scheme
    *********************/
    @media(prefers-color-scheme: dark){
        :root{
            --background: #171118;
            --text:#fffbf5;
            --subtitle: #c636ff;
            --btn: #c636ff;
            --btn-alt: #7214FF;
            --btn-text: #fffbf5;
            --shadow: 0px 0px 10px #c636ff;
            --shadow-alt: 0px 0px 10px #7214FF;
            --link:#c636ff;
            --link-alt: #7214FF;
        }
    }
                
    @media(prefers-color-scheme: light){
        :root{
            --background: #fffbf5;
            --text: #492250;
            --subtitle: #7214FF;
            --btn: #7214FF;
            --btn-alt: #c636ff;
            --btn-text: #fffbf5;
            --shadow: 0px 0px 10px #7214FF;
            --shadow-alt: 0px 0px 10px #c636ff;
            --link:#7214FF;
            --link-alt: #c636ff;
    }
}

    #tumblr_controls, .iframe-controls-container, .iframe-controls-container--jessikatme, .iframe-controls-container--unified {

        display: none;

    }
     
    /* Body, Article and Footer
    *********************/

    wrapper { width: 100%; }
	body {
        background-color:var(--background);
        font-family: 'Poppins', 'Montserrat', Open Sans, Trebuchet MS, Verdana, Arial, sans-serif;
        font-size: 1.1rem;
        font-weight: 300;
        color:var(--text);
        margin:0 0 0 0;

        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        overflow-x: hidden;
        overflow-y: scroll;
    }
    
    article, footer {
        background-color: var(--background);
        margin: auto;
        width: 100%;
        clear: both;
        text-align: center;

    }
  
    header { 
        background-color: var(--background);
        margin: auto;
        /*width: 50%; */
        clear: both;
        padding-top: 10px; 
        padding-bottom: 10px;
        max-width: 90%;
    }
    article { 
        padding-top: 5rem;
        padding-bottom: 30px;
        
    }

    footer{padding-bottom: 5rem;}

    h1 { 
        font-family: 'Sacramento', cursive;
        font-size: 4rem;
        line-height:2rem !important;
        color: var(--subtitle)
        
    } 
    
    h2, h3, h4, h5, h6 { 
        font-family: 'Poppins', Open Sans, Trebuchet MS, Verdana, Arial, sans-serif;
        font-weight: 400; 
        color: var(--subtitle);
        
    }
    
    h2 { 
        font-size: 2rem;
        font-weight: 300;
        line-height: 2.5rem;
    }
 
    h3 { 
        font-size: 25px;
    }
    h4 { 
        font-size: 23px;
    }
    h5 { 
        font-size: 20px;
    }
    h6 { 
        font-size: 18px;
        font-weight: 400;
    }
    .rainbow-text {
        background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red); 
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent;
        font-size: 20px;
        font-weight: 600;
        max-width:270px;
        padding:12px;

    }
    .transpride-text {
        background-image: linear-gradient(to right, #5BCEFA, #F5A9B8, #ffffff, #F5A9B8, #5BCEFA);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent;
        font-size: 20px;
        font-weight: 600;
        max-width:200px;
        padding:12px;
    }
    
        .pansexual-text {
        background-image: linear-gradient(to right, #ff218c, #fed800, #21b1ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent;
        font-size: 20px;
        font-weight: 600;
        max-width:180px;
        padding:12px;
    }
   

    /* Content
    *********************/
    .content {
        margin: 1rem auto;
        max-width:768px !important; 
    }

    .centered {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* Container
    *********************/
    div.container{
        width: 50%;
        clear: both;
        margin: auto;
        display: flex;
        
        justify-content: center;
    }

        div.containerlinks{
        width:50%;
        clear:both;
        margin: auto;
        display: flex;
        padding: 10px;
        justify-content: center;
    }

    /* Styling Link Buttons
    *********************/
    a{
        text-decoration:none;
        color:var(--text);

        
    }
    a svg{
        margin-right:8px;
            
    }

    a.link {
        font-weight: 500;
        color:var(--link);
        text-decoration: none;
        
    }

    a.link:active, a.link:focus, a.link:hover {
        color:var(--link-alt);
        border-bottom: var(--link-alt) 2px solid;
    }
    
    a.links {
        color:var(--link);
        margin:0px;
        padding:12px;
        text-shadow: var(--shadow);
        font-size: 32px;

    }
    a.links:active, a.links:focus, a.links:hover {
        color:var(--link-alt);
        text-shadow: var(--shadow-alt);
    }
    
    a.button{
        width:320px !important;
        background-color:var(--btn);
        border-radius:5px;
        color:var(--btn-text);
        margin-right:10px;
        margin-bottom:10px;
        padding:12px;
        box-shadow: var(--shadow);
        display: inline-flex; 
        align-content: center !important;
        align-items: center !important;
        justify-content: center !important;
        text-decoration: none;
    }
    a.button:active, a.button:focus, a.button:hover {
        background-color:var(--btn-alt);
        color:var(--btn-text);
        box-shadow: var(--shadow-alt);
    }


    .form-group {
        display: grid;
        justify-content: center;
        padding-bottom: 10px;
    }

    .form-control {
        width:320px !important;
        height: 25px;
        padding: 5px 10px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

    }

    label.control-label { font-weight:bold; }

   
    
    
    /* Styling Avatar
    *********************/    
    .avatar {
        box-shadow: 0px 0px 20px rgb(0 0 0 / 60%);
    }
    .avatar_frame {
        box-shadow: 0px 0px 20px #7214FF;
        width: 128px;
        margin: 10px;
        border: 5px solid #7214FF;
        border-radius: 500px;
        -webkit-border-radius: 500px;
        -moz-border-radius: 500px;

    }
    i { padding-right:8px; }

    /* Header Navigation
    *********************/
    .float-right {
        float: right;
    }
    .navigation {
        margin: 1rem auto;
        max-width: 1280px;
        width: 100%;
        
    }
    
    .navigation a,.navigation span {
        display: inline;
        font-size: 1.1rem;
        font-weight: 500;
        color: var(--subtitle);
        
    }
    
    .navigation a:hover,.navigation a:focus { 
        color: var(--link-alt);
    }

    .navigation .navigation-title {

        font-family: 'Sacramento', cursive;
        font-size:30px;
        color:var(--link);
        line-height: 1rem;
        
    }
    
    .navigation .navigation-list { 
        float:right;
        list-style:none;
        margin-bottom:0;
        margin-top:0; 
        
        clear: both;
        margin: auto;
        display: flex;
        
    }

    .navigation .navigation-list .navigation-item { 
        float:left;
        margin:0;
        position:relative;
        
    }
    
      
    .navigation .navigation-list .navigation-item a,.navigation .navigation-list .navigation-item span { 
        margin-left:1rem;
        margin-right:1rem; 
        
    }
        
    .navigation #dark-mode-toggle { 
        margin:1.7rem 0;
        font-size:2.4rem;
        line-height:inherit;
        bottom:2rem;
        left:2rem;
        z-index:100;
        position:fixed
    }

    .navigation #menu-toggle { 
        display:none; 
    }

    .navigation .menu-button { 
        display:none; 
    }
    .navigation .menu-button i:hover,.navigation .menu-button i:focus { 
        color: var(--subtitle);
    }
    .navigation i { 
        color: var(--subtitle);
        cursor: pointer; 
    }
    .navigation i:hover,.navigation i:focus { color: var(--btn-alt) }    
    
    @media screen and (max-width: 1024px) {
        header { 
            text-align: left !important; 
            max-width: 90%;
            width: 85%; 
            
        }
        .content {
            margin: 1rem auto;
            max-width: 90% !important;
            width: none !important;
        }
        

        
    }
    
    @media screen and (max-width: 865px) {
        header { 
            text-align: left !important; 
            max-width: 90%;
            width: 100%;  
        }

        .content {
            margin: 10px;
            max-width: 100% !important;
        }

        h1 { font-size: 2.5rem !important; }
        h2 { font-size: 1.5rem; line-height: 2rem; }
        body { font-size: 1rem; }

        
        .navigation .navigation-list {
            position:relative;
            top:2rem;
            right:0;
            z-index:5;
            visibility:hidden;
            opacity:0;
            padding:0;
            max-height:0;
            width:50%;
            background-color:var(--background);
            border-top:solid 2px #e0e0e0;
            border-bottom:solid 2px #e0e0e0;
            transition: opacity .25s, max-height .15s linear;
            float: right;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
        .navigation .navigation-list .navigation-item { 
            float:none!important;
            text-align:center; 
            
        }
        .navigation .navigation-list .separator { display:none; }

        .navigation .navigation-list .menu-separator { 
            border-top:2px solid #212121; 
            margin:0 8rem;
            
        }
        .navigation .navigation-list .navigation-item a,.navigation .navigation-list .navigation-item span { line-height: 5rem; }
        .navigation .navigation-list .menu-separator span { display: none; }
        .navigation #menu-toggle:checked+label>i { color:v ar(--subtitle); }
        .navigation #menu-toggle:checked+label+ul { 
            visibility: visible;
            opacity: 1;
            max-height:100rem; 
        }
        .navigation .menu-button { 
            position: relative;
            display: block;
            font-size: 1.125rem;
            font-weight: 400;
        }

        div.container{

            justify-content: center !important;
            flex-direction: column !important;
            align-items: center !important;
            width: 100% !important;
        }

        
    }
    
     @media screen and (max-width: 630px) {
        header { text-align: left !important; max-width: 90%; width:100%; }
        .content {
            margin: 10px;
            max-width: 100% !important;

        }

        h1 { font-size: 2.5rem !important; }
        h2 { font-size: 1.5rem; }
        body { font-size: 1rem; }

        
        .navigation .navigation-list {
            position:relative;
            top:2rem;
            right:0;
            z-index:5;
            visibility:hidden;
            opacity:0;
            padding:0;
            max-height:0;
            width:50%;
            background-color:var(--background);
            border-top:solid 2px #e0e0e0;
            border-bottom:solid 2px #e0e0e0;
            transition: opacity .25s, max-height .15s linear;
            float: right;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
        .navigation .navigation-list .navigation-item { 
            float:none!important;
            text-align:center; 
            
        }
        .navigation .navigation-list .separator { display:none; }

        .navigation .navigation-list .menu-separator { 
            border-top:2px solid #212121; 
            margin:0 8rem;
            
        }
        .navigation .navigation-list .navigation-item a,.navigation .navigation-list .navigation-item span { line-height: 5rem; }
        .navigation .navigation-list .menu-separator span { display: none; }
        .navigation #menu-toggle:checked+label>i { color:v ar(--subtitle); }
        .navigation #menu-toggle:checked+label+ul { 
            visibility: visible;
            opacity: 1;
            max-height:100rem; 
        }
        .navigation .menu-button { 
            position: relative;
            display: block;
            font-size: 1.125rem;
            font-weight: 400;
        }

        div.container{

            justify-content: center !important;
            flex-direction: column !important;
            align-items: center !important;
            width: 100% !important;
        }



    }
    
     @media screen and (max-width: 425px) {
        
        header { 
            text-align: left !important; 
            max-width: 90%;
            width: 100%; 
            
        }
        .content {
            margin: 20px !important;
            max-width: 100% !important;
            width: none !important;
        }

        h1 { font-size: 2.5rem !important; }
        h2 { font-size: 1.5rem; }
        body { font-size: 1rem; }

        .navigation .navigation-list {
            position:relative;
            top:2rem;
            right:0;
            z-index:5;
            visibility:hidden;
            opacity:0;
            padding:0;
            max-height:0;
            width:50%;
            background-color:var(--background);
            border-top:solid 2px #e0e0e0;
            border-bottom:solid 2px #e0e0e0;
            transition: opacity .25s, max-height .15s linear;
            float: right;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
        .navigation .navigation-list .navigation-item { 
            float:none!important;
            text-align:center; 
            
        }
        .navigation .navigation-list .separator { display:none; }

        .navigation .navigation-list .menu-separator { 
            border-top:2px solid #212121; 
            margin:0 8rem;
            
        }
        .navigation .navigation-list .navigation-item a,.navigation .navigation-list .navigation-item span { line-height: 5rem; }
        .navigation .navigation-list .menu-separator span { display: none; }
        .navigation #menu-toggle:checked+label>i { color:v ar(--subtitle); }
        .navigation #menu-toggle:checked+label+ul { 
            visibility: visible;
            opacity: 1;
            max-height:100rem; 
        }
        .navigation .menu-button { 
            position: relative;
            display: block;
            font-size: 1.125rem;
            font-weight: 400;
        }

        div.container{

            justify-content: center !important;
            flex-direction: column !important;
            align-items: center !important;
            width: 100% !important;
        }


    }
    
    @media screen and (max-width: 320px) {
        
        header { 
            text-align: left !important; 
            max-width: 90%;
            width: 100%; 
            
        }
        .content {
            margin: 10px;
            max-width: 100% !important;
            width: none !important;
        }

        h1 { font-size: 2.5rem !important; }
        h2 { font-size: 1.5rem; }
        body { font-size: 1rem; }

        .navigation .navigation-list {
            position:relative;
            top:2rem;
            right:0;
            z-index:1000;
            visibility:hidden;
            opacity:0;
            padding:0;
            max-height:0;
            width:50%;
            background-color:var(--background);
            border-top:solid 2px #e0e0e0;
            border-bottom:solid 2px #e0e0e0;
            transition: opacity .25s, max-height .15s linear;
            float: right;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
        .navigation .navigation-list .navigation-item { 
            float:none!important;
            text-align:center; 
            
        }
        .navigation .navigation-list .separator { display:none; }

        .navigation .navigation-list .menu-separator { 
            border-top:2px solid #212121; 
            margin:0 8rem;
            
        }
        .navigation .navigation-list .navigation-item a,.navigation .navigation-list .navigation-item span { line-height: 5rem; }
        .navigation .navigation-list .menu-separator span { display: none; }
        .navigation #menu-toggle:checked+label>i { color:v ar(--subtitle); }
        .navigation #menu-toggle:checked+label+ul {
            visibility: visible;
            opacity: 1;
            max-height:100rem; 
        }
        .navigation .menu-button { 
            position: relative;
            display: block;
            font-size: 1.125rem;
            font-weight: 400;
        }

        div.container{

            justify-content: center !important;
            flex-direction: column !important;
            align-items: center !important;
            width: 100% !important;
        }
  
        a.button { width: 250px !important;}



        /*******************************************
        Store CSS
        ********************************************/

    
    }
